# Auth Service API Base URL
NEXT_PUBLIC_AUTH_API=https://auth.bagdja.com

# Client App Credentials
NEXT_PUBLIC_CLIENT_APP_ID=user-console
NEXT_PUBLIC_CLIENT_APP_SECRET=a9F3kL2P8QwZx7C0M5eB1R4H6TnUJDYVSm

# Bagdja Login Service URL (Centralized Login)
NEXT_PUBLIC_LOGIN_URL=http://localhost:3000

# Optional: Frontend URL (for development)
# NEXT_PUBLIC_FRONTEND_URL=http://localhost:3001
